<section class="padd-top-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><span class="text-thin">Raise the </span> RUFF <span class="text-thin"> for pups@play!</span></h3>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-xs-3">
                <h4>About pups@play:</h4> <br>
                <p class="extra-small-content">pups@play is a location-based social search app that allows dog-lovers to find friends for their best friend. </p>
                <img src="images/divider.png">
            </div>
            <div class="col-xs-9">
                <h4>About the Developers:</h4> <br>
                <div class="col-xs-4">
                    <img src="images/tito.jpg" height="250" width="250" class="img-circle person">
                    <br><br>
                    <h6>Sun </h6>
                    <p class="extra-small-content">Sun grew up around dogs all his life. <b>Tito</b>, has been with his since he was 10 years old.</p>
                </div>
                <div class="col-xs-4">
                    <img src="images/cookie.jpg" height="250" width="250" class="img-circle person">
                    <br><br>
                    <h6>Jin</h6>
                    <p class="extra-small-content">Jin fell in love with her puppy, <b>Cookie</b>, while volunteering at the Humane Society. They are a perfect match!</p>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
    